@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html {
  font-weight: 300;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

b {
  font-weight: 700;
  color: #D2D8EC;
}

body {
  margin-left: 10px;
  margin-right: 10px;

  color: #C6CBDE;
  background-color: #4C554E;
}

small {
  font-size: 16px;
}

a:visited {color: #AB6E4A;}
a:link{color: #CDA38F;}
a:hover{color: #DB6E35;}

h1 {
  font-size: 32px;
}

h2 {
  color: #74BBE9;
  font-size: 28px;
}

h3 {
  color: #74BBE9;
  font-size: 24px;
  margin: 0px;
}

h4 {
  font-size: 21px;
}

div.quote {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

ul {
  list-style: none; /*no bullet points*/
  padding-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}